<mat-toolbar color="primary">
  <img src="./assets/images/logotipo.png" height="60px">

  <button (click)="callBar()" mat-icon-button class="icon">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="navbar-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu"> <img class="imgUser" src="./assets/images/avatar-user.png" alt=""> {{ nombrecompleto }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="icon"><mat-icon>face</mat-icon> Perfil </button>
        <button mat-menu-item class="icon" routerLink="/dashboard/changepassword"><mat-icon>lock</mat-icon> Cambiar Contraseña </button>
        <button mat-menu-item class="icon" routerLink="/dashboard"><mat-icon>home</mat-icon> Inicio </button>
      </mat-menu>
    <button mat-icon-button class="icon" (click)="logout()"><mat-icon>logout</mat-icon></button>
</mat-toolbar>

