<mat-toolbar class="color-headToolbar">
  Template
</mat-toolbar>
    <mat-selection-list  [multiple]="false" class="mat-list-item-content">
    <mat-list-option [routerLink]="['/dashboard/']"><mat-icon matListIcon>dashboard</mat-icon>Dashboard</mat-list-option>
    <mat-list-option [routerLink]="['/dashboard/users']"><mat-icon matListIcon>people</mat-icon>Usuarios</mat-list-option>
    </mat-selection-list>

    <mat-list>
      <mat-divider></mat-divider>
      <h3 matSubheader>Note</h3>
      <mat-list-item >
         <mat-icon matListIcon>note</mat-icon>
         <h4 matLine>Note</h4>
         <p matLine class="demo-2">Other Note</p>
      </mat-list-item>
    </mat-list>
